In [1]:
import pandas as pd
import numpy as np

from imodels import BayesianRuleListClassifier
from sklearn.preprocessing import OneHotEncoder

import random

C:\ProgramData\Anaconda3\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
C:\ProgramData\Anaconda3\lib\site-packages\numpy\.libs\libopenblas.NOIJJG62EMASZI6NYURL6JBKM4EVBGM7.gfortran-win_amd64.dll
C:\ProgramData\Anaconda3\lib\site-packages\numpy\.libs\libopenblas.XWYDX2IKJW2NMTWSFYNGFUWKQU3LYTCZ.gfortran-win_amd64.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

# All Numeric

In [2]:
length = 100

X1 = [random.uniform(0,1) for i in range(length)]
X2 = [random.uniform(0,1) for i in range(length)]
Y = [0]*length

for i in range(length):
    if X1[i] > 0.5 and X2[i] > 0.5:
        Y[i] = 1

In [3]:
X_vals = np.array([X1, X2]).transpose()
X = pd.DataFrame(X_vals, columns = ["X1", "X2"])
X

          X1        X2
0   0.730448  0.951600
1   0.546563  0.825177
2   0.405679  0.816658
3   0.984078  0.278514
4   0.410489  0.952195
..       ...       ...
95  0.930811  0.370742
96  0.918493  0.481049
97  0.102589  0.522471
98  0.390453  0.964970
99  0.164612  0.030292

[100 rows x 2 columns]

In [4]:
cls = BayesianRuleListClassifier()
cls.fit(X.values, Y)

Trained RuleListClassifier
============================
IF X_1 <= 0.5005022692082668 THEN probability of class 1: 1.8% (0.0%-6.4%)
ELSE IF X_0 <= 0.5129374599957754 THEN probability of class 1: 3.8% (0.1%-13.7%)
ELSE probability of class 1: 95.7% (84.6%-99.9%)
===========================

# All Categorical

In [5]:
length = 100

X1 = [random.choice(["Y", "N"]) for i in range(length)]
X2 = [random.choice(["Y", "N"]) for i in range(length)]
Y = [0]*length

for i in range(length):
    if X1[i] == "Y" and X2[i] == "Y":
        Y[i] = 1

In [6]:
X_vals = np.array([X1, X2]).transpose()
cat_enc = OneHotEncoder()
X_vals = cat_enc.fit_transform(X_vals)
X = pd.DataFrame.sparse.from_spmatrix(X_vals, columns = cat_enc.get_feature_names_out(['X1', 'X2']))
X

    X1_N  X1_Y  X2_N  X2_Y
0    0.0   1.0   1.0   0.0
1    0.0   1.0   1.0   0.0
2    1.0   0.0   1.0   0.0
3    0.0   1.0   0.0   1.0
4    0.0   1.0   0.0   1.0
..   ...   ...   ...   ...
95   0.0   1.0   1.0   0.0
96   0.0   1.0   0.0   1.0
97   1.0   0.0   0.0   1.0
98   0.0   1.0   1.0   0.0
99   1.0   0.0   0.0   1.0

[100 rows x 4 columns]

In [7]:
cls = BayesianRuleListClassifier()
cls.fit(X.values, Y, feature_names = X.columns, undiscretized_features = X.columns)

Trained RuleListClassifier
============================
IF X1_N > 0.5 THEN probability of class 1: 2.2% (0.1%-7.9%)
ELSE IF X2_Y > 0.5 THEN probability of class 1: 97.1% (89.4%-99.9%)
ELSE probability of class 1: 3.8% (0.1%-13.7%)
===========================

# Mixed Features with No Encoding

In [8]:
length = 100

X1 = [random.uniform(0,1) for i in range(length)]
X2 = [random.choice(["Y", "N"]) for i in range(length)]
Y = [0]*length

for i in range(length):
    if X1[i] > 0.5 and X2[i] == "Y":
        Y[i] = 1

In [9]:
X_vals = np.array([X1, X2]).transpose()
X = pd.DataFrame(X_vals, columns = ["X1", "X2"])
X

                      X1 X2
0     0.6394267984578837  Y
1   0.025010755222666936  Y
2    0.27502931836911926  N
3    0.22321073814882275  N
4     0.7364712141640124  Y
..                   ... ..
95   0.38161928650653676  N
96    0.9961213802400968  Y
97     0.529114345099137  Y
98    0.9710783776136181  Y
99    0.8607797022344981  Y

[100 rows x 2 columns]

In [10]:
# cls = BayesianRuleListClassifier()
# cls.fit(X.values, Y, feature_names = X.columns, undiscretized_features = X.columns)

# Mixed Features

In [11]:
length = 100

X1 = [random.choice(["Y", "N"]) for i in range(length)]
X2 = [random.uniform(0, 1) for i in range(length)]
Y = [0]*length

for i in range(length):
    if X1[i] == "Y" and X2[i] > 0.5:
        Y[i] = 1

In [12]:
cat_enc = OneHotEncoder()
enc_X = cat_enc.fit_transform(np.array(X1).reshape(-1, 1))

X = pd.DataFrame.sparse.from_spmatrix(enc_X, columns = cat_enc.get_feature_names_out(['X1']))
X = X.astype(int)
X["X2"] = X2
X

    X1_N  X1_Y        X2
0      0     1  0.834595
1      0     1  0.582510
2      1     0  0.148094
3      1     0  0.127446
4      1     0  0.308258
..   ...   ...       ...
95     0     1  0.579985
96     0     1  0.654706
97     0     1  0.464988
98     0     1  0.442160
99     0     1  0.213701

[100 rows x 3 columns]

In [13]:
cls = BayesianRuleListClassifier()
cls.fit(X.values, Y, feature_names = X.columns, undiscretized_features = ["X1_N", "X1_Y"])

KeyError: 'X_0_0.0'